.logout {
    display: inline;
    background-color: lightgray;
}

.signup {
    display: inline;
    background-color: lightgreen;
}

.login {
    display: inline;
    background-color: lightgoldenrodyellow;
}