.logout {
    display: inline;
    background-color: lightgray;
}

.studentsignup {
    display: inline;
    background-color: lightgreen;
}

.tutorsignup {
   display: inline;
   background-color: lightcoral; 
}

.login {
    display: inline;
    background-color: lightgoldenrodyellow;
}

.app-header {
    align-items: center;
}